---
---

@import "{{ site.theme }}";

header{
    float:center;
    position:relative
}

footer{
    float:center;
    position:relative
}

@media print, screen and (max-width: 960px){
    header,section,footer{
        position:static
    }
    header ul{
        position:static
    }
}

@media print, screen and (max-width: 720px){
    header ul,header p.view{
        position:static
    }
}